* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

form {
    background-color: rgb(43, 188, 233);
    margin: auto;
    margin-top: 20px;
    width: 70%;
    border: 1px solid rgb(29, 29, 29);
    padding: 25px;
    box-shadow: 3px 10px 20px;
    border-radius: 15px;
}

h1 {
    text-align: center;
    color: blue;
    text-shadow: 1px 1px 0px black, 
    -1px -1px 0px rgb(146, 143, 143),
    1px -1px 0px rgb(123, 119, 119), 
    -1px 1px 0px rgb(89, 88, 88);;
}
input{
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 6px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}